* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.accordion-root {
  box-shadow: none !important;
}

@media (max-width: 600px) {
  .mobile-hidden {
    display: none;
  }
}